$fa-font-path = '~font-awesome-stylus/fonts'
@import '~font-awesome-stylus/index'
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext')


font-small = .85em
font-big = 3em