.top
  line-height 40px
  background color-dark-grey
  box-sizing border-box
  width 100%
  color color-white
  padding 8px
  text-align center
  position relative
  .name
    cursor pointer
  .lang-selector
    display table
    position  absolute
    top 0
    right 0
    margin 0
    padding 8px
    li
      display table-cell
      cursor pointer
      padding-left .2em
      &.active
        font-weight bold
      &:after
        font-weight normal
        content: '/'
      &:last-of-type
        &:after
          content: none
          
  .my-icon
    fa(user)
    font-size 100px