@import './common/styles/fonts'
@import './common/styles/colors'
@import './common/styles/general'


@import './components/top/styles'
@import './components/navigation/styles'
@import './components/bottom/styles'

@import './components/sections/experience/styles'
@import './components/sections/contact/styles'


